<div id="lightbox" class="ink">
    <div id="view-image"><img src="" title="" alt=""/></div>
    <div id="desc">
        <div id="subcaption"></div>
        <div id="caption"></div>
    </div>
</div>

<div id="preview" class="ink">
    <img id="first" src="http://i.imgur.com/YQn9CNxl.jpg" date="August 16, 2015" subject="Karen the Kirin"/>
    <img src="http://i.imgur.com/7TDBU45l.png" date="June 26, 2015" subject="Gay seapunk lighthouse"/>
    <img src="http://i.imgur.com/TwAqIQw.png" date="June 25, 2015" subject="Seapunk girl"/>
    <img src="http://i.imgur.com/eCW1wJ8l.png" date="June 24, 2015" subject="Seapunk shark flash"/>
    <img src="http://i.imgur.com/I53FsZ7.png" date="June 24, 2015" subject="Seapunk beta fish"/>
    <img src="http://i.imgur.com/BcfKiJv.png" date="May 31, 2015" subject="Muse: 'Ride' by Twenty One Pilots"/>
    <img src="http://i.imgur.com/uNis9Q7l.png" date="March 7, 2015" subject="Centaur"/>
    <img src="http://i.imgur.com/VzQYbAjl.jpg" date="February 13, 2015" subject="Muse: 'Awakening' by Switchfoot"/>
    <img src="http://i.imgur.com/yCJuECOl.jpg" date="Fall 2014" subject="Still life"/>
    <img src="http://i.imgur.com/Qnh7TuYl.png" date="August 19, 2014" subject="Brendon Urie"/>
    <img src="http://i.imgur.com/Lre4Sl5l.jpg" date="August 22, 2014" subject="Milk snake, neotraditional"/>
    <img src="http://i.imgur.com/JRZpik8l.jpg" date="June 25, 2014" subject="Traditional heart"/>
    <img src="http://i.imgur.com/v1arQRsl.jpg" date="June 20, 2014" subject="Bittersweet"/>
    <img src="http://i.imgur.com/Hezceq3l.jpg" date="June 6, 2014" subject="Traditional heron"/>
    <img src="http://i.imgur.com/nptR3WMl.jpg" date="March 24, 2014" subject="Eastern dragon"/>
</div>