<div class="resources">
    <h2>digital art</h2>
    &#10140; <a href="http://www.colorpicker.com/" target="_blank">ColorPicker.com</a> (hex code generator)<br/>
    &#10140; <a href="http://www.degraeve.com/color-palette/" target="_blank">DeGraeve.com</a> color palette generator (from images)<br/>
    &#10140; <a href="http://www.colourlovers.com/" target="_blank">Colourlovers</a> color palettes<br/>
    &#10140; <a href="http://subtlepatterns.com/" target="_blank">SubtlePatterns</a> continuous patterns<br/>
    &#10140; see <a href="/kenzie-resources">digital resources</a> for fonts<br/>
    <br/><h2>traditional art</h2>
    &#10140; <a href="http://www.morguefile.com/archive" target="_blank">morgueFile</a> free stock photos<br/>
    &#10140; <a href="http://senshistock.deviantart.com/gallery/" target="_blank">SenshiStock</a> human reference images<br/>
</div>