<div class="resources">
    <h2>fonts</h2>
    &#10140; <a href="https://edgewebfonts.adobe.com/fonts" target="_blank">Adobe Edge</a> web fonts<br/>
    &#10140; <a href="http://www.dafont.com/" target="_blank">Dafont.com</a> free fonts<br/>
    &#10140; <a href="https://www.google.com/fonts/" target="_blank">Google</a> web fonts<br/>
    &#10140; <a href="http://www.fontsquirrel.com/" target="_blank">FontSquirrel</a> commercially usable fonts<br/>
    &#10140; <a href="http://www.fonts2u.com/index.html" target="_blank">Fonts2U</a> free fonts<br/>
    &#10140; <a href="http://losttype.com/browse/" target="_blank">LostType</a> pay-what-you-can fonts<br/>
    <br/><h2>coding technique</h2>
    &#10140; <a href="https://corner.squareup.com/2011/11/luhny-bin.html" target="_blank">The Luhny Bin</a> challenge<br/>
    &#10140; <a href="https://projecteuler.net/about" target="_blank">Project Euler</a> mathematical coding problems<br/>
    <br/><h2>html/css</h2>
    &#10140; <a href="https://css-tricks.com/" target="_blank">CSSTricks</a> blog<br/>
    &#10140; <a href="https://davidwalsh.name/" target="_blank">David Walsh</a>'s blog<br/>
    &#10140; <a href="http://www.herethere.net/~samson/php/color_gradient/" target="_blank">HereThere</a> color gradient hex finder<br/>
    &#10140; <a href="http://one-div.com/" target="_blank">One div</a> HTML/CSS vector icons<br/>
</div>