<div id="table-wrapper">
    <table>
        <tr>
            <td></td>
            <td>
                <h2 class="center">languages</h2>
            </td>
        </tr>
        <tr>
            <td>c,</td>
            <td><div class="bar q20"></div></td>
        </tr>
        <tr>
            <td>c#</td>
            <td><div class="bar q40"></div></td>
        </tr>
        <tr>
            <td>c++</td>
            <td><div class="bar q40"></div></td>
        </tr>
        <tr>
            <td>erlang</td>
            <td><div class="bar q60"></div></td>
        </tr>
        <tr>
            <td>fortran</td>
            <td><div class="bar q20"></div></td>
        </tr>
        <tr>
            <td>haskell</td>
            <td><div class="bar q60"></div></td>
        </tr>
        <tr>
            <td>html/css</td>
            <td><div class="bar q100"></div></td>
        </tr>
        <tr>
            <td>java</td>
            <td><div class="bar q100"></div></td>
        </tr>
        <tr>
            <td>javascript</td>
            <td><div class="bar q80"></div></td>
        </tr>
        <tr>
            <td>mysql</td>
            <td><div class="bar q80"></div></td>
        </tr>
        <tr>
            <td>php</td>
            <td><div class="bar q80"></div></td>
        </tr>
        <tr>
            <td>python</td>
            <td><div class="bar q100"></div></td>
        </tr>
        <tr>
            <td>racket</td>
            <td><div class="bar q60"></div></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <h2 class="center">applications</h2>
            </td>
        </tr>
        <tr>
            <td>gimp</td>
            <td><div class="bar q100"></div></td>
        </tr>
        <tr>
            <td>illustrator</td>
            <td><div class="bar q60"></div></td>
        </tr>
        <tr>
            <td>inkscape</td>
            <td><div class="bar q80"></div></td>
        </tr>
        <tr>
            <td>photoshop</td>
            <td><div class="bar q60"></div></td>
        </tr>
        <tr>
            <td></td>
            <td class="center comfort-level">
                comfort level
            </td>
        </tr>
    </table>
</div>