<div id="resume">
    <h4 class="subheader">employment</h4>
    <div class="resume-block">
        <div class="title-block">
            <h3>g/o digital</h3> <span class="subheader">january 2016 - present</span><br/>web development associate
        </div>
        <ul>
            <li>website creation</li>
            <li>website maintenance and repair</li>
        </ul>
        <em>HTML, CSS/SASS, Javascript, PHP, WordPress, ExpressionEngine</em>
    </div>
    <div class="resume-block">
        <div class="title-block">
            <h3>acxiom corporation</h3> <span class="subheader">july 2015 - december 2015</span><br/>digital content specialist intern
        </div>
        <ul>
            <li>email marketing campaigns</li>
        </ul>
        <em>HTML/CSS, Javascript</em>
    </div>
    <div class="resume-block">
        <div class="title-block">
            <h3>centre college information technology services</h3> <span class="subheader">sept 2014 - jan 2015</span>
        </div>
        <ul>
            <li>student dashboard features</li>
        </ul>
        <em>C#</em>
    </div>
    <div class="resume-block">
        <div class="title-block">
            <h3>hereit.org</h3> <span class="subheader">june 2013 - may 2015</span>
        </div>
        <ul>
            <li>HTML audio player</li>
            <li>admin features</li>
            <li>execution of a front-end redesign</li>
            <li>incorporation of Stripe e-commerce</li>
            <li>repair and expansion of existing features</li>
        </ul>
        <em>HTML/CSS, PHP, MySQL, jQuery</em>
    </div>
    <h4 class="subheader">education</h4>
    <div class="resume-block">
        <div class="title-block">
            <h3>centre college</h3> <span class="subheader">aug 2013 - jan 2015</span>
        </div>
        <em>computer science, linguistics</em>
        <ul>
            <li>64 total credit hours</li>
            <li>GPA: 3.4 / 4.0
            <li>7/11 requirements for a computer science major</li>
            <li>4/7 requirements for a linguistics minor</li>
        </ul>
    </div>
        <div class="title-block">
            <h3>franklin high school</h3> <span class="subheader">aug 2009 - may 2013</span>
        </div>
        <ul>
            <li>weighted GPA: 4.4 / 4.0</li>
            <li>graduated 11<sup>th</sup> in a class of 442</li>
            <li>National Merit Finalist</li>
        </ul>
    </div>
</div>