<div id="lightbox" class="kenzie">
    <div id="view-image"><img src="" title="" alt=""/></div>
    <div id="desc">
        <div id="subcaption"></div>
        <div id="caption"></div>
        <textarea spellcheck="false">Hello</textarea>
    </div>
</div>

<div id="preview" class="kenzie">
    <img id="first" src="http://i.imgur.com/LDptexz.png" subject="December" medium="Tumblr theme" code="december.html"/>
    <img src="http://i.imgur.com/5WqtbZ7.png" subject="Courier" medium="Tumblr theme" code="courier.html"/>
    <img src="http://i.imgur.com/nO19qBz.png" subject="Acrylic" medium="Tumblr theme" code="acrylic.html"/>
    <img src="http://i.imgur.com/cJq7GzT.png" subject="Toxic" medium="Tumblr theme" code="toxic.html"/>
    <img src="http://i.imgur.com/SVIdB6s.png" subject="Fair trade" medium="Tumblr theme" code="fair-trade.html"/>
    <img src="http://i.imgur.com/G6HTPOT.png" subject="Ragged right" medium="Tumblr theme" code="ragged-right.html"/>
    <img src="http://i.imgur.com/GzbEZWy.png" subject="Newsprint" medium="Tumblr theme" code="newsprint.html"/>
    <img src="http://i.imgur.com/XQTBOmL.png" subject="Sherlockian" medium="Tumblr theme" code="sherlockian.html"/>
    <img src="http://i.imgur.com/fB4AxJH.png" subject="URL hoarder" medium="Tumblr theme" code="url-hoarder.html"/>
    <img src="http://i.imgur.com/4m6Qv6B.png" subject="Enjolras" medium="Tumblr theme" code="enjolras.html"/>
    <img src="http://i.imgur.com/Y3YBtYI.png" subject="Tertiary" medium="Tumblr theme" code="tertiary.html"/>
    <img src="http://i.imgur.com/q0O8RiL.png" subject="Seaside" medium="Tumblr theme" code="seaside.html"/>
    <img src="http://i.imgur.com/v6b7Mdy.png" subject="JP" medium="Tumblr theme" code="jp.html"/>
    <img src="http://i.imgur.com/UJ9YlbX.png" subject="Jetstream" medium="Tumblr theme" code="jetstream.html"/>
    <img src="http://i.imgur.com/oSeCiyA.png" subject="Hogwarts spotlight" medium="Tumblr theme" code="hogwarts-spotlight.html"/>
    <img src="http://i.imgur.com/7juJlkZ.png" subject="Escher" medium="Tumblr theme" code="escher.html"/>
    <img src="http://i.imgur.com/N4mWJTb.png" subject="Mario" medium="Tumblr theme" code="mario.html"/>
    <img src="http://i.imgur.com/Uy4Ugvt.png" subject="Moved" medium="Tumblr theme" code="moved.html"/>
    <div class="clear"></div>
</div>