<html>
	{% include head.html %}
	<body>
		<div id="container">
			<div id="intro">
				{{ content }}
			</div>
			<a href="kenzie" class="no-underline">
				<div id="kenzie-block">
					<div id="kenzie" class="tk-letter-gothic-std scene_element scene_element--fadeinright">
						&laquo; kenzie <span class="hidden">code, resources, blog</span>
					</div>
				</div>
			</a>
			<div id="circle">
				&nbsp;
			</div>
			<a href="ink" class="no-underline">
				<div id="ink-block">
					<div id="ink" class="tk-co-headline scene_element scene_element--fadeinleft">
						<span class="hidden">art, portfolio, commissions&nbsp;&nbsp;&nbsp;&nbsp;</span>ink <span class="kenzie">&raquo;</span>
					</div>
				</div>
			</a>
		</div>
	</body>
</html>