{% include head.html %}
    </head>
	<body>
		<div id="container">
			<div class="content scene_element scene_element--fadeinup ink">
				<a href="/" class="no-underline">
					<div id="back-block" class="ink">
						<h1><span class="kenzie">&laquo;</span> welcome</h1>
					</div>
				</a>
				<div id="bio" class="ink">
					{{ content }}
				</div>
				{% include ink-menu.html %}
			</div>
			<div id="sidebar" class="scene_element scene_element--fadeinright ink gallery">
				<div id="sidebar-content" class="gallery">
					{% include gallery.html %}
				</div>
			</div>
		</div>
	</body>
</html>